*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start:0;
    margin-inline-end:0;
    font-weight:unset;
}
body{
	font-size: 24px;
	font-family: Courier New, monospace;
	background-color: #001011;
}
h1{
	text-align: center;
	font-size: 1.75em;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #734B5E;
}
h2{
	position: absolute;
	right: -1px;
	top: -1px;
	border:1px solid black; ;
	padding: 5px 15px 5px 15px;
	height: 50px;
	width: 150px;
	font-size: 1.25em;
	text-align: center;
	font-style: italic;
	font-weight: 600;
}
.conteyner{
	overflow: hidden;
	position: relative;
	height: 230px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	background-color: #E8985E;
	color: #584D3D;
}

article{
	padding: 65px 15px 5px 15px;
	font-weight: 700;
}

#Borsh{
	background-color: #9A031E;
	color: #ADA8B6;
}
#Milk{
	background-color: #D0F4EA;
	color: #264653;
}
#Sushi{
	background-color: #677DB7;
	color: #3B1F2B;
}

.row{
	width: 100%;
}
@media (min-width: 992px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,
	.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,
	.col-lg-11,.col-lg-12
	{
		float: left;
	}
	.col-lg-1
	{
		width: 8.33%;
	}
	.col-lg-2
	{
		width: 16.66%;
	}
	.col-lg-3
	{
		width: 25%;
	}
	.col-lg-4
	{
		width: 33.33%;
	}
	.col-lg-5
	{
		width: 41.66%;
	}
	.col-lg-6
	{
		width: 50%;
	}
	.col-lg-7
	{
		width: 58.33%;
	}
	.col-lg-8
	{
		width: 66.66%;
	}
	.col-lg-9
	{
		width: 75%;
	}
	.col-lg-10
	{
		width: 83.33%;
	}
	.col-lg-11
	{
		width: 91.66%;
	}
	.col-lg-12
	{
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991.9px){
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,
	.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,
	.col-md-11,.col-md-12
	{
		float: left;
	}
	.col-md-1
	{
		width: 8.33%;
	}
	.col-md-2
	{
		width: 16.66%;
	}
	.col-md-3
	{
		width: 25%;
	}
	.col-md-4
	{
		width: 33.33%;
	}
	.col-md-5
	{
		width: 41.66%;
	}
	.col-md-6
	{
		width: 50%;
	}
	.col-md-7
	{
		width: 58.33%;
	}
	.col-md-8
	{
		width: 66.66%;
	}
	.col-md-9
	{
		width: 75%;
	}
	.col-md-10
	{
		width: 83.33%;
	}
	.col-md-11
	{
		width: 91.66%;
	}
	.col-md-12
	{
		width: 100%;
	}
	
}
@media (max-width: 767.9px){
	.col-mb-1,.col-mb-2,.col-mb-3,.col-mb-4,.col-mb-5,
	.col-mb-6,.col-mb-7,.col-mb-8,.col-mb-9,.col-mb-10,
	.col-mb-11,.col-mb-12
	{
		float: left;
	}
	.col-mb-1
	{
		width: 8.33%;
	}
	.col-mb-2
	{
		width: 16.66%;
	}
	.col-mb-3
	{
		width: 25%;
	}
	.col-mb-4
	{
		width: 33.33%;
	}
	.col-mb-5
	{
		width: 41.66%;
	}
	.col-mb-6
	{
		width: 50%;
	}
	.col-mb-7
	{
		width: 58.33%;
	}
	.col-mb-8
	{
		width: 66.66%;
	}
	.col-mb-9
	{
		width: 75%;
	}
	.col-mb-10
	{
		width: 83.33%;
	}
	.col-mb-11
	{
		width: 91.66%;
	}
	.col-mb-12
	{
		width: 100%;
	}
	
}
	
}